<Plugin  name="FrameConfig"
           author="meaglecyen"
           version="1.0.0"
           description=""
           initialized="true">

  <Menu>
    <MenuItem path="/MWinNet/Menu/Debug/Pluign"
              id="plugin"
              caption="插件"
              image="Resource\MainFrame\Test.png"
              index="0"
              assemblyName="WindowsFormsApplication1.dll"
              className="WindowsFormsApplication1.ShowCommannd">
    </MenuItem>
   </Menu>
</Plugin>